body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #575757;
    margin: auto;
}

h1, h2, h3, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex: 1 auto 1;
    justify-content: space-between;
    padding: 10px 15px;
}

header .left-side,
header .empty,
header .right-side {
    display: flex;
}

header .left-side .logo {
    height: 22px;
}

header .left-side .owner {
    width: 140px;
    font-size: 15px;
    border-left: 1px solid #575757;
    padding: 0 0 2px 8px;
    margin-left: 8px;
}

header .right-side > *:not(:last-child) {
    margin-right: 10px;
}

header .right-side select {
    width: 100px;
    height: 25px;
    font-weight: 600;
    background-color: #fff;
    outline: none;
}

header .right-side .login-btn,
header .right-side .register-btn {
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

header .right-side .login-btn {
    border-color: #6c6c6c;
}

header .right-side .login-btn:hover {
    color: #ffffff;
    background-color: #6c6c6c;
}

header .right-side .register-btn {
    border-color: #22ce93;
    color: #ffffff;
    background-color: #22ce93;
}

header .right-side .register-btn:hover {
    background-color: #20e5a0;
    border-color: #20e5a0;
}

main .main-photo {
    background-image: url('../img/main-img.png');
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
    margin-bottom: 10px;
}

main .main-photo p {
    color: #fff;
    font-size: 53px;
    font-weight: 200;
    position: absolute;
    right: 23%;
    top: 6%;
}

main .gallery {
    padding: 20px 0;
}

main .section-header {
    text-align: center;
    margin-bottom: 20px;
    padding top: 50px;
}

main .gallery .albums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media (max-width: 560px){
main .gallery .albums{
    display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
}

main .gallery .albums img {
    width: 100%;
    display: block;
}

main .gallery .albums .album {
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

main .gallery .albums .album:hover {
    border: 1px solid #000;
}

main .gallery .albums .album a {
    text-decoration: none;
}

main .gallery .albums .album a:link,
main .gallery .albums .album a:visited,
main .gallery .albums .album a:active {
    color: initial;
}

main .gallery .albums .album .desc * {
    margin-bottom: 5px;
}

main .gallery .albums .album .desc .album-title {
    font-size: 28px;
}

main .gallery .albums .album .desc .album-date {
    color: #828282;
    font-size: 14px;
    font-style: italic;
}

main .gallery .albums .album .desc .album-items {
    font-size: 14px;
}

main .bullets {
    padding: 20px 10px;
}

main .bullets .bulletlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .bullets .bulletlist .bullet {
    width: 33%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 25px;
}

main .bullets .bulletlist .bullet .icon img {
    height: 50px;
    width: 50px;
}

main .contact-form {
    height: 160px;
}

main .contact-form form {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
}

main .contact-form .first-line,
main .contact-form .second-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}

main .contact-form input,
main .contact-form textarea {
    width: 98%;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9a9a9a;
    resize: none;
}

main .contact-form input[type="submit"] {
    width: 100%;
    cursor: pointer;
}

main .contact-form input[type="submit"]:hover {
    color: #ffffff;
    background-color: #6c6c6c;
}

main .contact-form input:focus,
main .contact-form textarea:focus {
    border: 1px solid #000;
}

main .contact-form select {
    width: 100%;
    height: 27px;
    outline: none;
    background-color: #fff;
}
.store{
    text-align: center;
    padding: 50px;  
}


.sections_padding{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto

}
.section{
    text-align: center;
    display: inline-block;
    margin: 50px;
}
nav div a{
    display: block
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#txt {
    text-align: center;
    font-size: 26px;
}
#myBtn {
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}